<div class="skills-page" id="skills">
    <div class="container">
      <div class="h4 mb-4 title">Skills</div>
      <p class="category">Front End</p>
      <div class="row pb-4">
        <div class="col-6">
          <img class="contact-icon" src="assets/images/angularjs-original.svg" alt="Image" />
          <img class="contact-icon" src="assets/images/flutter-original.svg" alt="Image" />
        </div>
        <div class="col-6">
        </div>
      </div>
      
      <p class="category">Back End</p>
      <div class="row">
        <div class="col-6">
          <img class="contact-icon" src="assets/images/java-original.svg" alt="Image" />
          <img class="contact-icon" src="assets/images/spring-original.svg" alt="Image" />
          <img class="contact-icon" src="assets/images/nodejs-original.svg" alt="Image" />
        </div>
        <div class="col-6">

        </div>
      </div>
        <!-- <img class="contact-icon" src="assets/images/linkedin.png" alt="Image" /> -->

    </div>
</div>

