img {
    max-width: 150px;
    max-height: 150px;
}

.contact-icon {
    max-width: 30x;
    max-height: 30px;
}

.intro-page {
    padding-top: 100px;
    padding-bottom: 100px;
}

.tagline{
    font-size: 18px;
    width: 70%;
}

// .skills-list{
//     display: grid;
//     grid-template-columns: repeat(2, minmax(140px, 200px));
//     margin-bottom: 30px;
// }