<div class="intro-page">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="h1 greeting-title">Hi, I'm Harrison</div>
                <p class="tagline">I am a software engineer with skills in Front-end and Back-end technologies.</p>
                <!-- <p class="tagline">Here are recent technologies that I used:</p>
                <ul class="skills-list">
                    <li *ngFor="let skill of skills">{{skill}}</li>
                </ul> -->
                <div class="row icons-list">
                    <div class="col-12">
                        <a href="https://github.com/harrisonET" target="_blank">
                            <img class="contact-icon" src="assets/images/github.png" alt="Image" />
                        </a>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <a href="mailto: harrisoneliezer@gmail.com">
                            <img class="contact-icon" src="assets/images/gmail.png" alt="Image" />
                        </a>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <a href="https://www.linkedin.com/in/harrisonet/" target="_blank">
                            <img class="contact-icon" src="assets/images/linkedin.png" alt="Image" />
                        </a>
                    </div>
                </div>                
            </div>
            <div class="col-6">
                <img src="assets/images/profile.gif" alt="Image" />
            </div>
        </div>
    </div>
</div>
