<div class="intro-page">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="h1 title">Hi, I am Harrison</div>
                <p class="category">Mobile, Web, API Developer</p>
            </div>
            <div class="col-6">
                <img src="assets/images/profile.gif" alt="Image" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <a href="mailto: harrisoneliezer@gmail.com">
                    <img class="contact-icon" src="assets/images/gmail.png" alt="Image" />
                </a>
            </div>
            <div class="col-2">
                <a href="https://github.com/harrisonET" target="_blank">
                    <img class="contact-icon" src="assets/images/github.png" alt="Image" />
                </a>
            </div>
            <div class="col-2">
                <a href="https://www.linkedin.com/in/harrisonet/" target="_blank">
                    <img class="contact-icon" src="assets/images/linkedin.png" alt="Image" />
                </a>
            </div>
        </div>
    </div>
</div>
