<div class="intro-page">
    <div class="container">
        <div class="row g-0">
            <div class="col-6">
                <div class="h1 title">Hello, I am Harrison E Tanojo</div>
                <p class="category">Mobile, Web, API Developer</p>
            </div>
            <div class="col-6">
                <img src="assets/images/profile.gif" alt="Image" />
            </div>
        </div>
        <div class="row no-gap">
            <div class="col-4">
                <img class="contact-icon" src="assets/images/gmail.png" alt="Image" />
            </div>
            <div class="col-4">
                <img class="contact-icon" src="assets/images/github.png" alt="Image" />
            </div>
            <div class="col-4">
                <img class="contact-icon" src="assets/images/linkedin.png" alt="Image" />
            </div>
        </div>
    </div>
</div>
